<div ng-repeat="(key, value) in row.entity.level_1_group"
        data-level="1"
     style="padding-left: 10px; border-top: 1px solid black">
    {{ value.title[0].value }} ({{ value.field_group_type[0].value }})
    <div ng-repeat="(l2Key, l2Value) in value.level_2_group"
         style="padding-left: 5px; border-left: 1px solid lightgrey"
         data-level="2">
        <div>{{l2Value.title[0].value}} -- {{l2Value.field_concentration_id[0].value}}</div>
    </div>
</div>