<div>
    <p>This curriculum list displays all active curriculum along with the programs they are associated and the requirements
        groups that have been defined for them.  The curriculum that have concentrations are highlighted in light yellow.</p>
</div>

<hr/>

<div>
    Total: <span ng-bind="list.data.length"></span>  <span class="list-load-loader loader" ng-class="{'is-busy' : list.isBusy}">Loading...</span>
</div>
<div>
    Selected: <span ng-bind="list.filteredData.length"></span>
</div>



<table class="table table-condensed table-hover table-bordered">

    <thead>
        <th>
            <div class="header-label">Actions</div>
        </th>
        <th>
            <div class="header-label" style="min-width: 160px;">Title</div>
            <div class="filter">
                <input type="text" ng-model="list.filters.title"/>
            </div>
        </th>
        <th>
            <div class="header-label" style="min-width: 200px;">Requirements and Concentrations</div>
        </th>
        <th>
            <div class="header-label" style="min-width: 200px;">Program(s)</div>

        </th>
        <th>
            <div class="header-label">Program Code(s)</div>
        </th>
        <th>
            <div class="header-label" style="width: 20px;">Archive</div>
            <div class="filter">
                <input type="text" ng-model="list.filters.field_archive"/>
            </div>
        </th>
    </thead>

    <style type="text/css">
        [data-type="concentration"] {
            background-color: lightyellow;
        }
    </style>
    <tbody>
        <tr ng-repeat="(key, row) in list.filteredData" class="master-row">
            <td>
                <a href="{{ list.editPath(row.id[0].value) }}">Edit</a>
                <a href="{{ list.viewPath(row.id[0].value) }}">View</a>
            </td>
            <td ng-bind="row.title[0].value"></td>
            <td>
                <div ng-repeat="(key, value) in row.level_1_group"
                     data-level="1"
                     style="padding-left: 10px"
                     data-type="{{value.field_group_type[0].value}}"
                >
                    <div><strong>{{ value.title[0].value }} ({{ value.field_group_type[0].value }})</strong></div>
                    <div ng-repeat="(l2Key, l2Value) in value.level_2_group"
                         style="padding-left: .5em;"
                         data-level="2">
                        <div>
                            <span ng-bind="l2Value.title[0].value"></span>
                            <span ng-if="value.field_group_type[0].value === 'concentration'"> -- </span>
                            <span ng-if="value.field_group_type[0].value === 'concentration'" ng-bind="l2Value.field_concentration_id[0].value"></span>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div ng-repeat="(key, value) in row.program">
                    {{value.title[0].value}}
                </div>
            </td>
            <td>
                <div ng-repeat="(key, value) in row.program">
                    {{value.field_program_code[0].value}}
                </div>
            </td>
            <td>
                <div>
                    <span ng-if="row.field_archive[0].value === '1'" class="glyphicon glyphicon-ok"> </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>